/* Estilos específicos para el carrusel */



/* Estilos generales para todas las imágenes */
img {
  max-width: 100%; /* Hace que las imágenes sean responsivas y no se desborden de sus contenedores */
  
  border-radius: 8px;
  /* Añade bordes redondeados */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Añade una sombra sutil a las imágenes */

  border: 1px solid #ccc;
  /* Borde gris de 1 píxel */
}


iframe {
  display: block;
  /* Hace que el iframe sea un bloque para ajustarse al ancho del contenedor */
  margin: 0 auto;
  /* Centra el iframe horizontalmente */
  border: 1px solid #ccc;
  /* Añade un borde para separar visualmente el iframe del contenido circundante */
  border-radius: 10px;
  /* Añade bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Añade una sombra sutil al iframe */
}

#game-container {
  text-align: center;
}

button {
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#time-btn {
  background-color: red;
  color: white;
}

#time-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* bingo-visual */
#images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto; /* Añade una barra de desplazamiento si las imágenes no caben en una sola fila */
}

#images img {
  flex-shrink: 0; /* Evita que las imágenes se reduzcan de tamaño */
  width: calc(94% / 4); /* Ajusta este valor según el número de imágenes que quieras mostrar por fila */
  border: 1px solid #000;
  margin: 10px;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards, fadeOut 1s ease-in-out 9s 1 normal forwards; /* Ajusta estos valores según la duración de la ronda */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width: 600px) {
  #images img {
      width: 100%; /* Ajusta este valor según cómo quieras que se muestren las imágenes en pantallas pequeñas */
  }
}